@import url('fonts/fontawesome/css/all.css');

@font-face {
  font-family: Jaapokki;
  src: url('fonts/jaapokki.ttf');
}

@font-face {
  font-family: MavenPro;
  src: url('fonts/MavenPro.ttf');
}

$font-headers: "Jaapokki";
$font-text: "MavenPro";
