@font-face {
  font-family: jaapokki-regular;
  src: url(fonts/jaapokki-regular.ttf);
}

body {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-family: jaapokki-regular;
  text-align: center;
}

.header h1, .header p {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu__item {
  height: 100px;
  width: 300px;
  background-image: red;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #000;
  overflow: hidden;
  text-align: center;
}
.menu__item a {
  position: relative;
  height: 50px;
  width: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  top: -200px;
  transition: 0.3s ease;
  font-family: jaapokki-regular;
  color: #fff;
}
.menu__item:hover {
  background: rgba(0, 0, 0, 0.1);
  }
.menu__item:hover a {
  top: 40%;
}
.description {
  background-color: #f1f2f1;
  padding-bottom: 70px;
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description__item {
  width: 27%;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
footer {
  text-align: center;
}
footer h6 {
  display: block;
  font-size: 1em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  font-weight: bold;
}
