.footer-welcomepage {
	text-align: center;
	margin: 100px 0 50px 0;
}
.footer-welcomepage h6 {
	font-family: $font-headers;
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	line-height: 1.3em;
    color: #333333;
}
