.header-welcomepage {
	margin: 100px auto;
	transition: 0.3s ease;
}

.header-welcomepage h1 {
	font-family: $font-headers;
	line-height: 1.3em;
	padding-bottom: 20px;
	font-size: 40px;
	font-weight: 400;
	color: #333333;
}

.header-welcomepage p {
	font-family: $font-text;
	color: #888;
    font-weight: bold;
}

.header-welcomepage h1, .header-welcomepage p {
	text-align: center;
}

@media screen and (max-width : 450px) {
	.header-welcomepage {
		margin: 50px auto;
	}
}