.page-title, .header {
    font-family: $font-headers;
}

.page-title {
    background-color: #fcfcfc;
    color: #333333;
    padding-top: 80px;
    padding-bottom: 80px;
    .container-title {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .title {
            font-size: 40px;
            text-transform: uppercase;
            letter-spacing: 10px;
            line-height: 1.3;
            text-align: center;
            font-weight: 500;
            margin-top: 20px;
        }
    }
}

.header {
    position: fixed;
    background: #191919;
    width: 100%;
    z-index: 2;
    transition: 0.3s linear;
    .header-container {
        width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        #logo a img {
            width: 98px;
            margin-top: 22.5px;
            float: left;
        }
    }
}

.nav {
    float: right;
    .nav_item {
        position: relative;
        line-height: 90px;
        float: left;
        box-sizing: border-box;
        margin-left: 5px;
        margin-right: 5px;
        a {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 11px;
            padding: 5px 2px 2px 5px;
            border: 2px solid transparent;
            transition: border-color 0.2s linear;
            position: relative;
            outline-offset: -2px;
            line-height: 1em;
            display: inline-block;
            &:hover, &.active {
                border-color: #e66a55 !important;
                color: #e66a55;
            }
        }
    }
}

.menu-button {
    width: 30px;
    right: 15px;
    cursor: pointer;
    height: 90px;
    display: none;
    span {
        height: 2px;
        margin-top: 10px;
        background: #ffffff;
        display: block;
        width: 30px;
        position: relative;
        transition: all 500ms ease-out;
        &:first-child {
            margin-top: 32px;
        }
    }
}

.menu-button.active {
    span {
        &:first-child {
            transform: rotate(45deg);
            top: 7px;
        }
        &:nth-child(2) {
            opacity: 0;
            top: 7px;
        }
        &:last-child {
            transform: rotate(-45deg);
            top: -17px;
        }
    }
}

@media screen and (max-width : 1200px) {
    #logo {
        margin-left: 15px;
    }
    .header .header-container {
        width: 970px;
    }
    .nav .nav_item a {
        font-size: 9px;
    }
}

@media screen and (max-width : 992px) {
    .header .header-container {
        width: 750px;
    }
    .menu-button {
        display: block;
        float: right;
    }
    .nav {
        display: none;
    }
    .menu-button.active ~ .nav {
        width: 100%;
        margin-right: 0;
        display: block;
        .nav_item {
            padding-left: 20px;
            padding-right: 30px;
            float: none;
            width: 100%;
            text-align: center;
            margin: 0;
            a {
                padding: 17px 0;
                display: block;
                border: none;
                border-top: 1px solid #ffffff;
                transition: color 0.2s linear, background 0.2s linear;
                font-size: 11px;
                &:hover {
                    background: #e66a55;
                    color: #fff;
                    border-color: #e66a55;
                }
            }
        }
    }
}

@media screen and (max-width : 768px) {
    .header .header-container {
        width: auto;
    }
    .header {
        background:#191919 !important;
    }
}

@media screen and (max-width: 481px) {
    .page-title .container-title .title {
        font-size: 32px;
    }
}