#prices {
    padding-top: 136px;
    padding-bottom: 136px;
    background-color: #f9f9f9;
    .prices-container {
        display: flex;
        text-align: center;
        .prices-item {
            width: 25%;
        }
        .prices-title {
            padding-top: 35px;
            h2 {
                color: #e66a55;
                line-height: 50px;
                font-family: $font-headers;
                font-size: 40px;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            p {
                font-family: $font-text;
                color: #9a9a9a;
                margin-bottom: 10px;
                text-align: center;
                line-height: 24px;
                font-size: 16px;
                letter-spacing: 1px;
                &:first-of-type {
                    margin-top: 40px;
                }
            }
        }
        .prices-rang {
            margin: 35px 15px 0;
            height: 584px;
            width: 25%;
            background-color: #ffffff;
            padding-top: 45px;
            box-shadow: 2.5px 4.3px 10px rgba(0, 0, 0, 0.1);
            position: relative;
            &:hover {
                background: rgba(230, 106, 85, 0.5);
            }
            h6 {
                font-family: $font-headers;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 45px;
                line-height: 1.3em;
                font-weight: normal;
            }
            h3 {
                font-family: $font-headers;
                font-size: 36px;
                color: #e66a55;
                line-height: 1.3em;
                margin-top: 20px;
                margin-bottom: 10px;
                font-weight: 500;
                letter-spacing: 1px;
            }
            img {
                width: 50px;
                margin-top: 45px;
                margin-bottom: 28px;
            }
            p {
                margin-bottom: 10px;
                font-family: $font-text;
                letter-spacing: 1px;
            }
            p:first-of-type {
                font-size: 14px;
                line-height: 30px;
                color: #e66a55;
                padding: 0 20px;
            }
            p:last-of-type {
                font-size: 14px;
                line-height: 30px;
                color: #9a9a9a;
                padding: 0 20px;
            }
            a {
                display: inline-block;
                font-family: $font-headers;
                font-size: 12px;
                line-height: 1.7em;
                padding: 15px 10px;
                width: 100%;
                color: #fff;
                letter-spacing: 1px;
                background-color: #e66a55;
                position: absolute;
                bottom: 0;
                left: 0;
                i {
                    position: relative;
                    right: 0;
                    transition: right 0.3s linear;
                }
                &:hover {
                    i {
                        right: -10px;
                    }
                }
            }
        }
    }
}